 body,
        html {
            margin: 0;
            padding-top: 50px;
            background: linear-gradient(180deg, #f5efe6 0%, #f0e8dc 100%);
            min-height: 100vh;
        }

        .botao-escuro {
            padding: 6px 12px;
            font-size: 22px;
            background: none;
            border: none;
            cursor: pointer;
        }

        .logo {
            height: 90px !important;
            width: auto;
        }

        .nav-style .logo {
            height: 50px;
            width: auto;
            margin-right: 20px;
        }

        .nav-titulo {
            font-family: Poppins;
            font-size: 18px;
            font-weight: 700;
            color: #3b3b3b;
            margin: 0;
        }

        .nav-subtitulo {
            font-family: Poppins;
            font-size: 12px;
            color: #7a7a7a;
            margin-top: -2px;
        }

        .nav-style ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            flex: 1;
            margin-left: 60px;
        }

        .nav-style input {
            margin-left: 0 !important;
            padding: 8px 14px;
            border-radius: 6px;
            border: 1px solid #d8d1c9;
            background: #faf6f0;
            font-size: 14px;
        }


        .nav-style li {
            margin: 0;
            font-family: Poppins;
            padding: 8px 10px;
            font-weight: 500;
            color: #3b3b3b;
        }

        .nav-style li:hover {
            background-color: rgba(0, 0, 0, 0.08);
            border-radius: 5px;
            padding: 8px 10px;

        }

        ul li a {
            color: inherit;
            text-decoration: none;
        }

        .secao-1 {
            display: flex;
            flex-direction: column;
            gap: 20px;

        }

        .linha-card {
            display: flex;
            gap: 20px;
        }

        .nav-style {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            background: #f1e9df;
            z-index: 999;
            box-sizing: border-box;
        }


        .card-noticia {
            width: 65%;
            border: 2px solid #d6ccc2;
            border-radius: 10px;
            background: #faf6f0;
            padding: 10px;
        }


        .imagem-card {
            width: 100%;
            height: 50vh;
            border: 2px solid #d6ccc2;
            background-image: url("https://admin.cnnbrasil.com.br/wp-content/uploads/sites/12/2025/11/gol-estevao-brasil-senegal-e1763225252113.jpg?w=1320&h=742&crop=0");
            background-size: cover;
            background-position: center;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        .texto-card {
            border-radius: 8px;
            color: #333;
            font-family: Poppins;
        }

        .texto-card a {
            background: rgba(0, 0, 0, 0.06);
            display: inline-block;
            margin-top: 15px;
            color: #333;
            border: 2px solid #b9b1a8;
            padding: 4px 10px;
            border-radius: 6px;
            text-decoration: none;
            transition: 0.5s ease;
        }

        .texto-card a:hover {
            background: rgba(0, 0, 0, 0.03);
            transform: translateY(-2px);
        }

        .tabela {
            display: flex;
            flex-direction: column;
            background: #faf6f0;
            border: 1px solid #d6ccc2;
            border-radius: 12px;
            width: 30%;
            height: 100%;

        }

        .resultado {
            background: #f2ebe3;
            border: 1px solid #d6ccc2;
            border-radius: 12px;
            margin: 10px 20px 20px;
            padding: 14px;
            height: 50%;
        }

        .placar {
            display: flex;
            align-items: center;
            margin: 10px;
        }

        .times {
            font-weight: 800;
            color: #333;
            margin: 0 4px;
        }

        .gols {
            font-size: 26px;
            font-weight: 600;
            color: #1C435A;
        }

        .lista li {
            list-style: none;
            padding: 30px 6px;
            border-bottom: 1px dashed #d8d1c9;
            font-size: 18px;
            color: #333;
        }

        .tabela-campeonato {
            margin: auto;
            width: 80%;
            align-items: center;
            border-collapse: collapse;
            margin-bottom: 20px;
            font-size: 14px;
            background: #f1e9df;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            font-family: Poppins;
        }

        .tabela-campeonato td {
            color: #333;
        }

        .card {
            display: flex;
            gap: 20px;
            margin-top: 20px;
            width: 100%;

        }

        .card-metade {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            flex: 1;
            height: 320px;
            background: #faf6f0;
            border-radius: 12px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            transition: .3s;
            cursor: pointer;
        }

        .card-metade:hover {
            transform: translateY(-5px);
        }

        .imagem-card2 {
            height: 100%;
            background-size: cover;
            background-position: right;
        }

        .conteudo-card {
            font-family: Poppins;
            height: 20%;
            background: #efe7dd;
            padding: 30px;
        }

        .tabela-nba {
            display: flex;
            gap: 30px;
            width: 100%;
            justify-content: center;
            align-items: flex-start;
            margin-top: 20px;
        }

        .tabela-box {
            flex: 1;
            max-width: 600px;
        }

        .mma-flex {
            display: flex;
            gap: 30px;
            margin-top: 20px;
            width: 100%;
            align-items: flex-start;
        }

        .lutadores-destaque {
            background: #faf6f0;
            padding: 20px;
            border-radius: 12px;
            border: 1px solid#d6ccc2;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 550px;
        }

        .lutador {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 16px;
            background: #f2ebe3;
            border-radius: 14px;
            margin-bottom: 12px;
            cursor: pointer;
            transition: .3s ease;
        }

        .lutador:hover {
            transform: translateY(-3px);
            background: rgb(144, 142, 142, 0.5);
        }

        .imagem-lutador {
            width: 90px;
            height: 90px;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
        }

        .lutador .info h3 {
            margin: 0;
            font-family: Poppins, sans-serif;
            color: #333;
            font-size: 19px;
        }

        .lutador .info p {
            margin: 3px 0 0;
            color: #7a7a7a;
            font-size: 14px;
            font-family: Poppins, sans-serif;
        }

        .caixa {
            background: #f2ebe3;
            border: 1px solid #d6ccc2;
            border-radius: 12px;
            padding: 20px;
        }

        body.dark {
            background: linear-gradient(180deg, #060607 0%, #0d0d0f 100%);
        }

        body.dark .nav-style {
            background: linear-gradient(180deg, rgba(10, 10, 10, 0.95), rgba(10, 10, 10, 0.85));
        }


        body.dark .nav-subtitulo {
            color: #aaa;
        }

        body.dark .nav-style li {
            color: #ddd;
        }

        body.dark .nav-style li:hover {
            background-color: rgba(255, 255, 255, 0.15);
        }

        body.dark .card-noticia {
            background: linear-gradient(180deg, rgba(10, 10, 10, 0.9), rgba(10, 10, 10, 0.8));
            border-color: #000;
        }

        body.dark .texto-card {
            color: #eee;
        }

        body.dark .texto-card a {
            background: rgba(255, 255, 255, 0.07);
            border-color: #333;
            color: #fff;
        }

        body.dark .texto-card a:hover {
            background: rgba(255, 255, 255, 0.15);
        }

        body.dark .card-metade {
            background: #000;
            box-shadow: 0 0 20px rgba(255, 0, 0, 0.15);
        }

        body.dark .conteudo-card {
            background: rgba(255, 255, 255, 0.06);
        }

        body.dark .conteudo-card h3 {
            color: #eee;
        }

        body.dark .conteudo-card p {
            color: #aaa;
        }

        body.dark .imagem-card,
        body.dark .imagem-card2 {
            border-color: #000;
        }

        body.dark .tabela-campeonato {
            background: #0e0e0e;
            color: #ddd;
            border-color: #000;
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.08);
        }

        body.dark .tabela-campeonato td {
            color: #ddd;
        }

        body.dark .tabela-campeonato th {
            background: #1C435A;
            color: #fff;
        }

        body.dark .tabela-campeonato tr {
            border-bottom: 1px solid rgba(255, 255, 255, 0.08);
        }

        body.dark .tabela {
            background: linear-gradient(180deg, rgba(17, 17, 17, 0.8), rgba(14, 14, 14, 0.85));
            border: 1px solid #000;
        }

        body.dark .resultado {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.02));
            border: 1px solid #333;
        }

        body.dark .resultado h4,
        body.dark .resultado *,
        body.dark .lista {
            color: white !important;
        }

        body.dark .times {
            color: #eee;
        }

        body.dark .gols {
            color: red;
        }

        body.dark #basquete h2 {
            color: white !important;
        }

        body.dark #mma h2 {
            color: white !important;
        }

        body.dark #basquete h2 {
            color: white !important;
        }

        body.dark .conteudo-card h3 {
            color: white !important;
        }

        body.dark .lutadores-destaque {
            background: #0e0e0e;
            border: 1px solid #222;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
        }

        body.dark .lutador {
            background: rgba(255, 255, 255, 0.05);
            border-radius: 14px;
        }

        body.dark .lutador:hover {
            background: rgba(255, 255, 255, 0.10);
        }

        body.dark .lutador .info h3 {
            color: #eee;
        }

        body.dark .lutador .info p {
            color: #bbb;
        }

        body.dark .imagem-lutador {
            outline: 2px solid rgba(255, 255, 255, 0.1);
        }

        body.dark .caixa {
            background: #0e0e0e;
            border: 1px solid #222;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
        }

        body.dark .caixa h4 {
            color: white !important;
        }

        body.dark .caixa button {
            background: #e31b23;
            color: #fff;
            border: none;
            box-shadow: 0 0 10px rgba(227, 27, 35, 0.4);
        }

        body.dark .caixa button:hover {
            background: #bb161e;
            transform: translateY(-2px);
        }

        body.dark input {
            background: #111;
            color: #eee;
            border-color: #333;
        }



        @media (max-width: 768px) {

            nav {
                padding: 10px;
                flex-direction: column;
                gap: 10px;
            }

            .nav-esporteagora {
                position: relative;
                left: 0;
                justify-content: center;
            }

            nav ul {
                flex-wrap: wrap;
                justify-content: center;
            }

            nav input {
                position: relative;
                width: 90%;
                margin: 10px 0;
                right: 0;
            }

            .linha-card {
                flex-direction: column;
            }

            .card-noticia {
                width: 100%;
            }

            .tabela {
                width: 100%;
            }

            .card {
                flex-direction: column;
            }

            .card-metade {
                height: auto;
            }

            .imagem-card2 {
                height: 220px;
            }

            .mma-flex {
                flex-direction: column;
            }

            .lutadores-destaque {
                width: 100%;
            }
        }

        @media (max-width: 480px) {

            .nav-titulo {
                font-size: 16px;
            }

            .nav-marca {
                width: 36px;
                height: 36px;
                font-size: 16px;
            }

            .nav-subtitulo {
                font-size: 10px;
            }

            nav li {
                margin: 10px;
                font-size: 14px;
            }

            .imagem-card {
                height: 32vh;
            }

            .tabela-campeonato {
                font-size: 12px;
            }

            .imagem-lutador {
                width: 65px;
                height: 65px;
            }

            .lutador .info h3 {
                font-size: 15px;
            }
        }